<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fastwave.cloud.demo.publisher.dao.TransDao">

	<select id="get" resultType="fastwave.cloud.demo.publisher.domain.TransDO">
		select 
			id,status
		from 
			trans
		where 
			id = #{value}
	</select>

	<select id="list" resultType="fastwave.cloud.demo.publisher.domain.TransDO">
		select
			id,status
		from
			trans
		<where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and status = #{status} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from trans
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="name != null and name != ''"> and status = #{status} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="fastwave.cloud.demo.publisher.domain.TransDO" keyProperty="id">
		insert into trans
		(
			`id`,
			`status`
		)
		values
		(
			#{id},
			${status}
		)
	</insert>
	 
	<update id="update" parameterType="fastwave.cloud.demo.publisher.domain.TransDO">
		update trans
		<set>
			<if test="id != null">`id` = #{id}, </if>
			<if test="status != null">`status` = #{status}, </if>
		</set>
		where id  = #{id}
	</update>
	
	<delete id="remove">
		delete from trans where id  = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from trans where id  in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>